.agency-slider {
    margin-bottom: 100px;
    margin-top: -80px;
}

.agency-slide {
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    grid-gap: 0 140px;
    grid-template-columns: 1fr 765px;
}

.agency__text {
    max-width: 770px;
}

.agency-slide__subtitle {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.agency__description {
    max-width: 300px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1;
    font-size: 1.25rem;
}

.agency__title {
    margin-bottom: 20px;
}

.agency-slide__img {
    position: relative;
}

.agency-slide__img-wrap {
    position: relative;
}

.agency-slide__img img {
    max-width: 100%;
}

.agency-slide__img .quote {
    width: 520px;
    position: absolute;
    bottom: 100px;
    right: calc(100% - 30px);
    opacity: 0;
}

.glide__slide--active .agency-slide__img .quote {
    animation: 0.4s ease-out 0.1s forwards fadeIn;
}

.quote-template {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.avatar {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 100px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1480px) {
    .agency-slider {
        margin-top: -20px;
        margin-bottom: 50px;
    }

    .agency-slide {
        grid-template-columns: 1fr 500px;
    }

    .agency-slide__img .quote {
        max-width: 446px;
        bottom: 40px;
    }
}

.quote-preview {
    display: none;
}

@media (max-width: 1024px) {
    .agency-slider .quote {
        display: none;
    }

    .agency__title {
        margin-bottom: 15px;
        max-width: 500px;
    }

    .agency__description {
        margin-bottom: 35px;
    }

    .agency-slider {
        margin-top: 0;
        margin-bottom: 35px;
    }

    .agency-slide {
        display: block;
        max-width: 700px;
    }

    .quote-preview {
        display: block;
        position: absolute;
        background: transparent;
        border: none;
        z-index: 2;
        bottom: 10px;
        right: 10px;
    }

    .quote-preview .avatar {
        width: 50px;
        height: 50px;
        border: 2px solid var(--orange);
    }

    .quote-preview .quote__mark {
        margin-bottom: 0;
        width: 17px;
        transform: translate(-17px, 8px);
    }

    .agency-slider .quote.active {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        z-index: 5;
        display: flex;
        flex-direction: column;
        overflow: auto;
        overscroll-behavior: contain;
    }

    .quote-close .avatar {
        width: 60px;
        height: 60px;
        border: 2px solid var(--orange);
        background: transparent;
    }
}