.conditions-title {
    margin-bottom: 50px;
}

.conditions-text {
    margin-bottom: 85px;
}

.conditions-description {
    max-width: 1165px;
    columns: 2;
    column-width: 570px;
    font-size: 1.5rem;
}

.conditions-description p {
    margin-bottom: 15px;
    break-inside: avoid-column;
}

.conditions-main-wrap {
    display: flex;
    grid-gap: 0 50px;
    justify-content: space-between;
    align-items: flex-start;
}

.conditions-slider {
    width: calc(100% - 500px);
    max-width: 922px;
}

.conditions-slide__image img {
    max-width: 100%;
}

.conditions-main__content a {
    color: var(--orange);
}

.conditions-main__content img {
    max-width: 100%;
    margin-bottom: 25px;
    width: 100%;
}

.conditions-main__content-title {
    margin-bottom: 15px;
}

.conditions-main__content {
    font-size: 1.5rem;
    line-height: 1.4;
    width: 500px;
}

.conditions-main__content p {
    margin-bottom: 20px;
}

.conditions-main__content p:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 1600px) {
    .conditions-main__content {
        width: 400px;
    }

    .conditions-description {
        column-width: 400px;
    }

    .conditions-slider {
        width: calc(100% - 400px);
    }
}

@media (max-width: 1480px) {

    .conditions-description {
        font-size: 1rem;
    }

    .conditions-title {
        margin-bottom: 25px;
    }

    .conditions-text {
        margin-bottom: 35px;
    }

    .conditions-main__content {
        font-size: 1rem;
        width: 320px;
    }

    .conditions-slider {
        width: calc(100% - 320px);
    }

    .conditions-description {
        column-width: auto;
    }
}

@media (max-width: 1024px) {
    .conditions-title {
        margin-bottom: 25px;
    }

    .conditions-main__content {
        width: auto;
    }

    .conditions-main-wrap {
        grid-gap: 0 30px;
    }

    .conditions-description,
    .conditions-main__content {
        font-size: 0.81rem;
    }
}

@media (max-width: 767px) {
    .conditions-main-wrap {
        display: block;
    }

    .conditions-description {
        columns: unset;
        max-width: 700px;
    }
    .conditions-slider {
        margin-bottom: 35px;
        width: 100%;
    }

    .conditions-mobile-text {
        margin-bottom: 35px;
        font-size: 0.81rem;
    }

    .conditions-mobile-text p {
        margin-bottom: 15px;
    }

    .conditions-mobile-text p:last-of-type {
        margin-bottom: 0;
    }
}