.quote {
    padding: 60px;
    border-bottom: 10px solid var(--orange);
    background-color: #323232;
    color: var(--white);
}

.quote__mark {
    margin-bottom: 40px;
}

.quote__text {
    margin-bottom: 20px;
}

.quote__author {
    display: grid;
    grid-gap: 0 10px;
    grid-template-columns: 70px 1fr;
    align-items: center;
}

@media (max-width: 1480px) {
    .quote {
        padding: 50px 35px;
    }
}

@media (max-width: 1024px) {
    .quote {
        padding: 20px;
    }

    .quote__mark {
        margin-bottom: 40px;
    }

    .quote .avatar {
        width: 50px;
        height: 50px;
    }

    .agency-slide__img .quote {
        width: auto;
    }

    .quote .quote__text {
        font-size: 0.81rem;
        margin-bottom: 20px;
    }

    .quote__mark img {
        width: 17px;
    }

    .quote__author-description {
        font-size: 0.68rem;
    }

    .quote-close {
        display: flex;
        justify-content: flex-end;
        background: transparent;
        margin-top: auto;
        border: none;
        padding: 0;
        -webkit-appearance: none;
    }
}