.title {
    font-weight: 500;
}

.title--xl {
    font-size: 5rem;
}

.title--h1 {
    font-size: 3.43rem;
    line-height: 1;
}

.title--h3 {
    font-size: 2.1rem;
    line-height: 1.4;
}

.text--xl {
    font-size: 1.53rem;
}

.text--l {
    font-size: 1.25rem;
}

.text--s {
    font-size: 0.93rem;
}

.text--xs {
    font-size: 0.81rem;
}

.text--uppercase {
    text-transform: uppercase;
}

.text--black {
    color: var(--black);
}

.subtitle {
    font-size: 0.91rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hyphenate {
    word-wrap: break-word;
    overflow-wrap: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

@media (max-width: 1480px) {
    .title--xl {
        font-size: 4.5rem;
    }

    .title--h1 {
        font-size: 3rem;
    }

    .title--h3 {
        font-size: 2rem;
    }

    .subtitle {
        margin-bottom: 15px;
    }
}

@media (max-width: 1024px) {
    .title--xl {
        font-size: 2rem;
    }

    .title--h1 {
        font-size: 2rem;
    }

    .text--s {
        font-size: 0.81rem;
    }

    .subtitle {
        font-size: 0.62rem;
        margin-bottom: 15px;
    }
}